<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/image.png">
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>headers}}
            <br/>
            <img class="portrait" src="/img/DSC00364-1.jpg">
            <p>Awwww!</p>
        </div>
        {{>footer}}        
    </body>        
</html>